@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Inter", sans-serif;
}

:root{
    --verde-principal: #1B3132;
    --verde-1: #394E4B;
    --dourado-principal: #A57D40;
    --branco: #FFFFFF;
    --cinza-letra: #495057;
    --bege-fundo: #EAEBE8;
}

body{
    width: 100%;
}

header{
     width: 100%;
     background-color: var(--verde-principal);
}

.navigation{
     display: flex;
     flex-direction: column;
}

.container_menu_desk{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0.5rem 1rem;
     position: relative;
}

.nav_menu{
     display: none;
}

.icone_menu_mobile{
     width: 100%;
     background-color: var(--verde-1);
     border-top: 0.5px solid var(--dourado-principal);
     position: absolute;
     top: 6rem;
     z-index: 1;
 }

 .lista_menu_mobile{
     width: 90vw;
     margin: auto;
     margin-top: 1rem;
 }
 .lista_menu_mobile ul{
     list-style: none;
     width: 80vw;
 }

 .lista_menu_mobile ul li{
     padding-bottom: 1rem;
 }

 .lista_menu_mobile ul li a{
     text-decoration: none;
     color: white;
     font-size: 1.125rem;
 }

 .icone_menu_mobile{
     display: none;
}

.open{
     display: block;
 }

.imagem_desk{
     display: none;
}

/*main banner*/

.container-banner{
     background-image: url(../img/fundo-para-banner.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: calc(100vh - 5rem);
     width: 100%;
     position: relative;
}

.imagem_mobile{
     position: absolute;
     right: 1.5rem;
     bottom: 0;
     margin-right: 1.5rem;
     margin-bottom: 0;
 }

 .titulo{
     width: 27em;
     padding: 1.5rem 2.5rem 0 2.5rem;
 }

 .container-banner .titulo h1{
     font-size: 2.5rem;
     color: var(--cinza-letra);
     font-weight: 600;
}

 @media screen and (min-width: 1100px){

 }


