@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Inter", sans-serif;
}

:root{
    --verde-principal: #1B3132;
    --verde-1: #394E4B;
    --dourado-principal: #A57D40;
    --branco: #FFFFFF;
    --cinza-letra: #495057;
    --bege-fundo: #EAEBE8;
}

body{
    width: 100%;
}


.navegation{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background-color: var(--verde-principal);
}

.imagem{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.container_menu_desk nav{
    display: none;
}

.div-cor{
    width: 85%;
    margin: auto;
}

/* .imagem_desk{
     display: none;
} */



/*main banner*/

.container-banner{
     background-image: url(../img/fundo-para-banner.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: calc(100vh - 15rem);
     width: 100%;
     position: relative;
}

.imagem_mobile{
     position: absolute;
     right: 1.5rem;
     bottom: 0;
     margin-right: 1.5rem;
     margin-bottom: 0;
 }

 .titulo{
     width: 80%;
     padding: 1.5rem 2.5rem 0 2.5rem;
 }

 .container-banner .titulo h1{
     font-size: 2.5rem;
     color: var(--cinza-letra);
     font-weight: 600;
}

/*sobre mim*/

.imagem-sobre-min{
    display: none;
}

.sobre_mim{
    background-color: var(--verde-1);
    display: flex;
    justify-content: center;
}

.div-cor{
  width: 85%;
}

.nome h2{
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1.5rem;
}

.crm{
    color: white;
    margin-top: 1rem;
}

.descricao_sobre_mim{
    margin: 1rem 0;
}
.descricao_sobre_mim p{
    color: white;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 2rem;
    text-align: justify;
}

.Agende_sua_consulta{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem; 
} 

.Agende_sua_consulta a{
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    padding: 1.25rem 6rem;
    background-color: var(--dourado-principal);
    border-radius: 1rem;
}

/*quando buscar ajuda*/

.imagem-quando-buscar-ajuda{
    display: none;
}

.quando-buscar-ajuda{
    width: 100%;
    background-color: var(--bege-fundo);
}

.titulo-quando-buscar h2{
    color: var(--cinza-letra);
    font-size: 2rem;
    font-weight: 400;
    padding-top: 1.5rem;
    text-align: center;
}

.descricao-quando-buscar h3{
    font-size: 1rem;
    color: var(--cinza-letra);
    font-weight: 500;
    padding-top: 1rem;
}

.lista{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.check-itens{
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5em;
}

.check-itens p{
    font-size: 1.125rem;
    color: var(--cinza-letra);
    font-weight: 300;
}

.check-itens img{
    width: 1.5rem;
    height: 1.5rem;
    /* padding-top: 0.25rem; */
}

.ultimo-item{
    padding-bottom: 3rem;
}

/*metodos e abordagens*/

.Metodos-e-abordagens{
    background-color: var(--verde-1);
    background-image: url(../img/fundo-metodos-e-abordagens.png);
    background-repeat: no-repeat;
    background-position: center;
}

.metodos-titulo h2{
    font-size: 2rem;
    font-weight: 400;
    padding-top: 2rem;
    text-align: center;
    color: white;
}

.metodos-descricao{
    color: white;
    padding-top: 1.125rem;
    font-weight: 300;
}

.metodos-descricao p{
    font-size: 1.125rem;
    line-height: 2.5rem;
    text-align: justify;
}

/*formações*/

.formacoes{
    background-color: var(--bege-fundo);
}

.div-cor-gap{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 85%;
    margin: auto;
}

.formacao-titulo h2{
    font-size: 2rem;
    font-weight: 400;
    padding-top: 2rem;
    text-align: center;
    color: var(--cinza-letra);
}

.container-principal{
    display: flex;
    gap: 1.5rem;
}

.container-lista-formacoes{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.formacao-descricao{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.formacoes-imagem img{
    width: 4rem;
    height: 4.3125rem;
    border-right: 1.5px solid var(--cinza-letra);
    padding-right: 1.5rem;
}

.formacao-descricao h3{
    color: var(--dourado-principal);
    font-size: 1.25rem;
    font-weight: 400;
}

.formacao-descricao p{
    color: var(--cinza-letra);
    font-size: 1.5rem;
    font-weight: 500;
}

/*atendimento*/

.atendimento{
    background-color: var(--verde-1);
}

.atendimento-titulo h2{
    font-size: 2rem;
    font-weight: 400;
    padding-top: 2rem;
    text-align: center;
    color: white;
}

.atendimento-lista-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.atendimento-lista-item .atendimento-lista-img{
    width: 4rem;
    height: 4rem;
}

.atendimento-lista-item .presencial{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.atendimento-lista-item .presencial h3{
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
}

.atendimento-lista-item .presencial p{
    font-size: 1.25rem;
    color: white;
    font-weight: 300;
}

.contato-item{
    display: flex;
    gap: 0.5rem;
}

.contato-item img{
    width: 1.5rem;
    height: 1.5rem;
}

.contato-item p{
    font-size: 1.25rem;
    color: white;
    font-weight: 300;
}

.Agende_sua_consulta-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.5rem; 
 }

.Agende_sua_consulta-contato a{
    display: flex;
    gap: 0.5rem;
    font-size: 1.125rem;
    color: white;
    text-decoration: none;
    padding: 0.625rem 3rem;
    background-color: var(--dourado-principal);
    border-radius: 0.5rem;
}

    .email{
        font-size: 1rem;
    }


@media screen and (max-width:360px){

    .container-banner{
        height: calc(100vh - 10rem);
    }

     .container-banner .titulo h1{
          font-size: 1.5rem;
          color: #A57D40;
     }
}


 @media screen and (min-width: 1100px){

.container-banner{
    background-image: url(../img/fundo\ desktop.png);
}

.container_menu_desk{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem;
}

.container_menu_desk nav{
    display: block;
}

.container_menu_desk nav ul{
    display: flex;
    list-style: none;
    gap: 0.625rem;
}

.container_menu_desk nav ul li{
    border-bottom: 1px solid transparent;
    transition: all 0.5s;
}

.container_menu_desk nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.625rem;
    transition: all 0.5s;
}
.container_menu_desk nav ul li:hover{
    border-bottom: 1px solid var(--dourado-principal);
}
.container_menu_desk nav ul li a:hover{
    color: var(--dourado-principal);
}

/*banner*/

.imagem_mobile{
    display: none;
}

.imagem_desk{
    display: block;
    position: absolute;
    right: 1.5rem;
    bottom: 0;
    margin-right: 1.5rem;
    margin-bottom: 0;
}

.titulo{
    font-size: 2.5rem;
    width: 35rem;
    margin-left: 4rem;
}

/*sobre mim*/

.flex{
    display: flex;
    gap: 7.4375rem;
    margin: 4.125rem 4.0625rem;
}

.imagem-sobre-min{
    display: block;
}

.imagem-sobre-min img{
    width: 25.5rem;
    height: 32.625rem;
}

.container-descricao{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container-descricao .nome h2{
    font-size: 3rem;
}


/*quando buscar ajuda*/

.flex-quando-buscar-ajuda{
    display: flex;
    flex-direction: column;
}

.flex-lista{
    display: flex;
    justify-content: space-between;
}

.imagem-quando-buscar-ajuda{
    display: block;
}

.imagem-quando-buscar-ajuda img{
    width: 35.4375rem;
    height: 31.9375rem;
}

 }


